/*
Example of import from  web CDN
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap'); */
@font-face {
    font-family: Sacramento;
    src: url(./fonts/Sacramento-Regular.ttf);
}
@font-face {
    font-family: Montserrat;
    src: url(./fonts/Montserrat-Italic-VF.woff2) format('woff2-variations');
    font-weight: 100 900;
    font-style: oblique 0deg 25deg;
}

body {
    background-image: url("../images/wineBackground.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Montserrat;
}

body:after {
    content: "";
    position: fixed;
    top: 0; bottom: 0; left: 0; right: 0; 
    background: rgba(255, 255, 255, 0.466);
    pointer-events: none;
    z-index: -1;
}

.flexContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-menu {
    width: 7rem;
}

.navLogo {
    height: 3.6rem;
    width:  3.15rem;
    margin-right: 1rem;
}

#fade a {
    color: rgb(44, 44, 44);
    text-shadow: .05rem .05rem .17rem rgba(116, 48, 54, 1);
    position: relative;
    font-size: 1.3rem;
    font-weight: 450;
    transition: all 0.22s ease-in-out;
    -webkit-transition: all 0.22s ease-in-out;
    -moz-transition: all 0.22s ease-in-out;
    -ms-transition: all 0.22s ease-in-out;
    -o-transition: all 0.22s ease-in-out;
}

#fade a:hover {
    text-shadow: .05rem .05rem .2rem #d15454;
    color: #a72450;
}
#fade a:active {
    text-shadow: .02rem .02rem .4rem #832444;
}

#brandtext {
    font-family: Sacramento;
    font-size: 2.5rem;
    font-weight: 500;
}

.indexImg {
    height:35rem;
    width:25rem;
    border-radius: .7rem;
    -webkit-border-radius: .7rem;
    -moz-border-radius: .7rem;
    -ms-border-radius: .7rem;
    -o-border-radius: .7rem;
    box-shadow: .2rem .2rem .6rem rgb(80, 80, 80);
}

h1 {
    font-family: Sacramento;
    font-size:5rem;
    text-shadow: .1rem .07rem .2rem rgb(100, 39, 62);
    margin-top: -2rem;
}
h2 {
    font-weight: 350;
}

.space {
    font-size: 4rem;
    word-spacing: 1rem;
}

.backFade {
    border-radius:1rem;
    background:#ffffff81;
    -webkit-border-radius:1rem;
    -moz-border-radius:1rem;
    -ms-border-radius:1rem;
    -o-border-radius:1rem;
}

.cheers {
    height: 12rem;
    width: 12rem;
}

.button {
    background: radial-gradient(ellipse, rgba(155, 57, 86, 0.76) 5%, rgba(139, 57, 74, 0.507) 20%, rgba(146, 47, 55, 0.616) 30%, rgba(146, 55, 85, 0.692) 40%, transparent 80%), radial-gradient(ellipse farthest-corner at right bottom, rgb(161, 55, 87) 0%, rgba(155, 43, 67, 0.808) 8%, rgb(153, 49, 58) 30%, rgb(124, 47, 73) 40%, transparent 80%),                radial-gradient(ellipse farthest-corner at left top, rgba(206, 40, 76, 0.897) 0%, rgb(167, 71, 84) 8%, rgb(158, 41, 41) 25%, rgb(141, 33, 66) 62.5%, rgba(124, 31, 67, 0.76) 100%);
    color: white;
    width: 15rem;
    height: 2.5rem;
    border-radius: .4rem;
    -webkit-border-radius: .4rem;
    -moz-border-radius: .4rem;
    -ms-border-radius: .4rem;
    -o-border-radius: .4rem;
}

.button:focus {
    outline: none;
}

.tile {
    position: relative;
    width: 100%;
    height: 15rem;
    padding: 2.3rem;
    border-radius:1rem;
    background:#ffffff5b;
    -webkit-transform: translateY(4rem) translateZ(0);
    transform: translateY(4rem) translateZ(0);
    -webkit-transition-delay: .3s;
    -o-transition-delay: .3s;
    transition-delay: .3s;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    opacity: 0;
    -moz-transform: translateY(4rem) translateZ(0);
    -ms-transform: translateY(4rem) translateZ(0);
    -o-transform: translateY(4rem) translateZ(0);
    -webkit-border-radius:1rem;
    -moz-border-radius:1rem;
    -ms-border-radius:1rem;
    -o-border-radius:1rem;
}
.bottom-right.inView {
    opacity: 1;
    -webkit-transform: translateY(0px) rotate(0deg) translateZ(0);
    transform: translateY(0px) rotate(0deg) translateZ(0);
}
.inView {
    opacity: 1;
    -webkit-transform: translateY(0px) rotate(0deg) translateZ(0);
    transform: translateY(0px) rotate(0deg) translateZ(0);
}